<%= provide(:title, "Home") %>

<section class="container-home">
  <h2>Create and attend events hosted by friends in multi-locations. <br> Come have fun!!</h2>
  <div class="create-event"> <%= link_to "Create Event",new_event_path, class: "btn btn-warning" %> </div>
</section>