<div class="row container-fluid">
  <% @events.each do |event| %>
  <ul>
    <li><%= event.date %> </li>
    <li><%= event.location %> </li>
    <li><%= event.description %> </li>
  </ul>
  <% end %>
</div>