@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  @include box_sizing;
  padding-top: 10px;
  overflow-x: hidden;
  min-height: 90vh;
}

.navbar-child {
  .user-btn {
    margin: 4px;
    padding: 3px;
    background-color: lightblue;
    border-radius: 5px;
    border: 2px solid white;
    a {
      border-radius: 5px;
    }

    @include box_sizing;
    &:hover {
      background-color: white;
      border-color: lightblue;
    }
  }
  li {
    a {
      font-size: 18px;
      font-weight: 500;
      color: black;
      padding: 0;
      margin: 0;
      transition: color 1s linear;
    }
    &:hover {
      animation: bounce 0.2s 2 forwards;
    }
  }
}

@keyframes bounce {
  from,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@-moz-keyframes bounce {
  from,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
@-moz-keyframes bounce {
  from,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.navbar-custom {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  overflow: hidden;
  background-color: #8f7777;
  .navbar-child {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto 0 0;
    justify-content: flex-end;
    li {
      font-size: 20px;
      list-style: none;
      &:first-child {
        margin-right: 40px;
      }
      &:nth-child(2) {
        margin-right: 40px;
      }
    }
  }
  #logo {
    font-family: 'Pacifico', cursive;
    margin: 0 auto 0 20px;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

input,
textarea,
select,
.uneditable-input {
  border: 2px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: 30px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.container {
  @include box_sizing;
  padding: 0;
  margin-top: 35px;
  width: 100%;
}

header {
  padding: 0 5px;
}

.container-home {
  @include box_sizing;
  position: relative;
  margin: 0;
  height: 90vh;
  background: center / cover url(/assets/man-in-cafe-on-laptop-720x380.jpg) no-repeat;
  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  h2 {
    color: #fff;
    font-family: "Sriracha", cursive;
    width: 40%;
    margin-left: -20%;
  }
}

.box,
.form-container {
  padding: 0 30px;
}

.form-container {
  display: flex;
  max-width: 900px;
  min-width: 300px;
  padding-top: 40px;
  margin: 0 auto;
  flex-direction: column;
}

.reg {
  border: 1px solid gray;
  box-shadow: 0 2px 8px gray;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 50px;
  position: relative;
  .side-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 40%;
    z-index: -1;
    background: center / cover url(/assets/party.jpg) no-repeat;
    * {
      color: #fff;
    }
    h1 {
      margin-top: 30px;
    }
    .signup-welcome {
      position: relative;
      z-index: 5;
      text-align: center;
      margin-top: 60px;
      width: 95%;
      h2 {
        margin-bottom: 20px;
      }
    }
    &::before {
      content: "";
      background-color: rgba(16, 21, 36, 0.555);
      position: absolute;
      z-index: -5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    * {
      position: relative;
      z-index: 6;
    }
  }
}

.aside-reg {
  position: absolute;
  z-index: 60;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  width: 100px;
  font-size: 20px;
  margin-top: 20px;
  bottom: 190px;
  left: 130px;
  width: 100px;
  padding: 5px;
  border: 2px solid silver;
  a {
    text-transform: uppercase;
    color: #14127a;
  }
}

.form-wrap {
  width: 42%;
  padding: 30px 0;
  margin:  0  auto 30px auto;
  h1 {
    color: rgb(20, 18, 122);
    position: relative;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    &::after,
    &::before {
      content: "";
      position: absolute;
      min-width: 80px;
      z-index: -5;
      height: 5px;
      right: 150px;
      top: 30px;
      background-color: rgba(69, 8, 97, 0.418);
      transition: 2.5s linear;
    }
    &::before {
      max-width: 70px;
      left: 150px;
      top: -5px;
    }
  }
  input {
    @include box_sizing;
    border-radius: 10px;
  }
  input:focus,
  .form-control:focus {
    border: 2px solid rgba(0, 0, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.514);
  }
  input[type="submit"] {
    background-color: rgb(20, 18, 122);
    font-size: 22px;
    height: 50px;
    width: 200px;
    display: block;
    margin: auto;
  }
}

.create-event {
  width: 40%;
  margin-right: 20%;
  margin-top: 10px;
  a {
    border: 3px solid black;
    font-size: 2.5rem;
  }
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .card-type {
    border: 7px solid red;
    margin: 10px;
    padding: 5px;
  }
  .card-type .bordered {
    font-size: 15px;
    background-color: #000;
    color: #fff;
    padding: 5px;
  }
}

.links {
  background-color: rgba(54, 41, 10, 0.5);
  text-align: center;
  padding: 9px;
  margin: 7px;
  border-radius: 5px;
  border: 1px solid rgba(54, 41, 10, 0.7);
  a {
    display: block;
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
    & * {
      margin: 3px;
    }
  }
}

@media (max-width: 1030px) {
  .form-wrap {
    h1 {
      &::before {
        left: 90px;
      }
      &::after {
        right: 90px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #logo {
    display: block;
  }
  .container-home {
    margin-top: 28px;
    h2 {
      width: 100%;
      margin-left: 20%;
    }
  }
  .reg {
    width: 96%;
  }
  .aside-reg {
    left: 90px;
  }
  .form-wrap {
    margin-top: 0;
    h1 {
      &::after {
        width: 90px;
        top: 30px;
      }
    }
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 430px) {
  .navbar-custom {
    height: calc(max-content + 30px);
    .navbar-child {
      justify-content: initial;
      width: 60%;
      padding: 0;
      li {
        width: max-content;
        font-size: 18px;
        &:first-child {
          margin-left: 20px;
          margin-right: 20px;
        }
        &:nth-child(2) {
          margin: 0;
        }
      }
    }
  }
  .reg {
    margin-top: 35px;
    width: 92%;
    .side-intro {
      display: none;
    }
  }
  .aside-reg {
    display: none;
  }
  .form-wrap {
    h1 {
      &::after {
        right: 20px;
        top: 30px;
      }
      &::before {
        left: 20px;
      }
    }
  }
}

@media (max-width: 330px) {
  .navbar-custom {
    #logo {
      padding: 0;
      font-size: 18px;
    }
  }
  .form-wrap {
    margin-left: 30px;
    min-width: initial;
    width: 100%;
    h1 {
      font-weight: 600;
      font-size: 18px;
      width: 100%;
      &::after {
        top: 20px;
      }
    }
    .form-control {
      width: 90%;
    }
    input[type="submit"] {
      font-size: 18px;
    }
  }
  .signin-wrap {
    width: 90%;
    margin-bottom: 170px;
    margin-top: 0;
    .field {
      margin-bottom: 10px;
    }
  }
}
