@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  @include box_sizing;
  padding-top: 10px;
  overflow-x: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-top: 8px;
  .user-btn {
    margin: 4px;
    padding: 3px;
    background-color: lightblue;
    border-radius: 5px;
    border: 2px solid white;
    a {
      border-radius: 5px;
    }

    @include box_sizing;
    &:hover {
      background-color: white;
      border-color: lightblue;
    }
  }
  li a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 0;
    margin: 0;
  }
}

.navbar-custom {
  background-color: #53200779;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

input,
textarea,
select,
.uneditable-input {
  border: 2px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: 30px;
}

#logo {
  float: left;
  margin-left: 20px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.container {
  @include box_sizing;
  padding: 0;
  margin-top: 35px;
  width: 100%;
}

header {
  padding: 0 5px;
}

.container-home {
  @include box_sizing;
  position: relative;
  margin: 0;
  height: 90vh;
  background: center / cover url(/assets/man-in-cafe-on-laptop-720x380.jpg) no-repeat;
  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  h2 {
    color: #fff;
    font-family: "Sriracha", cursive;
    width: 40%;
    margin-left: -20%;
  }
}

.box,
.form-container {
  padding: 0 30px;
}

.form-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.create-event {
  width: 40%;
  margin-right: 20%;
  margin-top: 10px;
  a {
    border: 3px solid black;
    font-size: 2.5rem;
  }
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .card-type {
    border: 7px solid red;
    margin: 10px;
    padding: 5px;
  }
  .card-type .bordered {
    font-size: 15px;
    background-color: #000;
    color: #fff;
    padding: 5px;
  }
}

.links {
  background-color: rgba(54, 41, 10, 0.5);
  text-align: center;
  padding: 9px;
  margin: 7px;
  border-radius: 5px;
  border: 1px solid rgba(54, 41, 10, 0.7);
  a {
    display: block;
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
    & * {
      margin: 3px;
    }
  }
}

@media only screen and (max-width: 800px) {
  #logo {
    display: block;
  }
  .nav {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  .container-home {
    margin-top: 28px;
    h2 {
      width: 100%;
      margin-left: 20%;
    }
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
}
