<footer>
  <nav>
    <ul>
      <li>Connect With Us</li>
      <li><img src="https://res.cloudinary.com/mikenath/image/upload/v1586515467/facebook-64_zdw5bm.png" alt="facebook"></li>
      <li><img src="https://res.cloudinary.com/mikenath/image/upload/v1586515467/instagram-64_ar4j8c.png" alt="instagram"></li>
      <li><img src="https://res.cloudinary.com/mikenath/image/upload/v1586515469/reddit-64_dd1cwq.png" alt="reddit"></li>
      <li><img src="https://res.cloudinary.com/mikenath/image/upload/v1586515469/twitter-64_mgkw9o.png" alt="twitter"></li>
      <li>Eventrix &copy; <%= Time.current.year %></li>
    </ul>
  </nav>
</footer>