<footer>
  <nav>
    <ul>
      <li>Connect With Us</li>
      <li><img src="../../assets/images/facebook-64.png" alt="facebook"></li>
      <li><img src="../../assets/images/instagram-64.png" alt="instagram"></li>
      <li><img src="../../assets/images/reddit-64.png" alt="reddit"></li>
      <li><img src="../../assets/images/twitter-64.png" alt="twitter"></li>
      <li>Eventrix &copy; <%= Time.current.year %></li>
    </ul>
  </nav>
</footer>